body {
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;

    &[data-menu-open="true"] {
        overflow-y: hidden;
    }
}

* {
    box-sizing: border-box;
}

.has-edit-button:not(.navigation) {
    position: relative;
}

img {
    max-width: 100%;
}

main {
    padding-bottom: 100px;
    min-height: 1000px;
}


footer {
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.container {
    @media screen and (min-width: 1025px) {
        max-width: 1200px !important;
    }
}
